.logo-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  height: 10rem;
  margin-inline: auto;
  margin-block: 2rem;
  background-color: blue;

  img {
    color: white;
    margin-top: 2rem;
  }

  a {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: 700;
  }

}

.something {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 95%;
  margin-inline: auto;
  place-items: center;
  gap: 2rem;

  .content{
    width: 60%;

    p{
      font-size: 1.2rem;
      font-weight: 200;
      a {
        color: blue;
      }
    }

    button{
      padding:5px;
      width: 5rem;
      background-color: blue;
      border-radius: 5px;
      color: whitesmoke;
      margin-top: 1rem;
    }
  }
  
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}


/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

}



